* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #FFFCDE;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.display-flex {
    display: flex;

}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-60 {
    width: 60%;
}

.width-25 {
    width: 25%;
}

.my-3 {
    margin-top: 5%;
    margin-bottom: 5%;
}
.py-3 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.my-5 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.mx-auto {
    margin-right: auto;
    margin-left: auto;
}

.mx-1 {
    margin: 0 1%;
}

section {
    justify-content: space-between;
}

.card {
    position: relative;
    width: 20%;
    transition: all 3s;
}

.after {
    padding-bottom: 21%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--main-color);
    position: absolute;
    overflow: hidden;
}

.content {
    transition: all 0.5s;
    transform: translateY(300%);
}

.main-img {
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
    position: absolute;
}

.photo {
    opacity: 0;
}

.card:hover .main-img {
    padding: 4%;
    scale: calc(0.6);
}

.card:hover .content {
    transform: translateY(0);
}


ul {
    list-style-type: none;
    justify-content: center;
}

li {
    margin: 3% 1%;
    font-size: 18px;
}

p {
    font-size: small;
}